In [1]:
# Import Dependencies
import pandas as pd
import glob
from sqlalchemy import create_engine

# Happiness Data

In [2]:
# Loading all CSVs
files = sorted(glob.glob("Resources/*.csv"))
dfs = [pd.read_csv(f, encoding= 'ISO-8859-1') for f in files]

In [3]:
# Accessing the 2015 CSV and cleaning up the column names and index
df2015 = dfs[0]
df2015.head()
df2015 = df2015.drop(['Region', 'Standard Error', 'Family', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual'], axis=1)
df2015.rename(columns={ "Country": "country","Happiness Rank": "happiness_rank", "Happiness Score": "happiness_score", "Economy (GDP per Capita)":"gdp_per_capita", "Health (Life Expectancy)": "health_life_expectancy"}, inplace=True)
df2015["year"] = '2015'
df2015.set_index('country', inplace=True)
df2015.head()

,happiness_rank,happiness_score,gdp_per_capita,health_life_expectancy,year
country,,,,,
Switzerland,1,7.587,1.39651,0.94143,2015
Iceland,2,7.561,1.30232,0.94784,2015
Denmark,3,7.527,1.32548,0.87464,2015
Norway,4,7.522,1.45900,0.88521,2015
Canada,5,7.427,1.32629,0.90563,2015

In [4]:
# Accessing the 2016 CSV and cleaning up the column names and index
df2016 = dfs[1]
df2016.head()
df2016 = df2016.drop(['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Family', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual'], axis=1)
df2016.rename(columns={"Country": "country","Happiness Rank": "happiness_rank", "Happiness Score": "happiness_score", "Economy (GDP per Capita)":"gdp_per_capita", "Health (Life Expectancy)": "health_life_expectancy", }, inplace=True)
df2016["year"] = '2016'
df2016.set_index('country', inplace=True)
df2016.head()

,happiness_rank,happiness_score,gdp_per_capita,health_life_expectancy,year
country,,,,,
Denmark,1,7.526,1.44178,0.79504,2016
Switzerland,2,7.509,1.52733,0.86303,2016
Iceland,3,7.501,1.42666,0.86733,2016
Norway,4,7.498,1.57744,0.79579,2016
Finland,5,7.413,1.40598,0.81091,2016

In [5]:
# Accessing the 2017 CSV and cleaning up the column names and index
df2017 = dfs[2]
df2017.head()
df2017 = df2017.drop(['Whisker.high', 'Whisker.low', 'Family', 'Freedom', 'Trust..Government.Corruption.', 'Generosity', 'Dystopia.Residual'], axis=1)
df2017.rename(columns={"Country": "country","Happiness.Rank": "happiness_rank", "Happiness.Score": "happiness_score", "Economy..GDP.per.Capita.": "gdp_per_capita", "Health..Life.Expectancy.": "health_life_expectancy"}, inplace=True)
df2017["year"] = '2017'
df2017.set_index('country', inplace=True)
df2017.head()

,happiness_rank,happiness_score,gdp_per_capita,health_life_expectancy,year
country,,,,,
Norway,1,7.537,1.616463,0.796667,2017
Denmark,2,7.522,1.482383,0.792566,2017
Iceland,3,7.504,1.480633,0.833552,2017
Switzerland,4,7.494,1.564980,0.858131,2017
Finland,5,7.469,1.443572,0.809158,2017

In [6]:
# Accessing the 2018 CSV and cleaning up the column names and index
df2018 = dfs[3]
df2018.head()
df2018 = df2018.drop(['Social support', 'Freedom to make life choices', 'Generosity','Perceptions of corruption'], axis=1)
df2018.rename(columns={"Country": "country","Overall rank": "happiness_rank", "Country or region": "country", "Score": "happiness_score", "GDP per capita" :"gdp_per_capita", "Healthy life expectancy": "health_life_expectancy"}, inplace=True)
df2018["year"] = '2018'
df2018.set_index('country', inplace=True)
df2018.head()

,happiness_rank,happiness_score,gdp_per_capita,health_life_expectancy,year
country,,,,,
Finland,1,7.632,1.305,0.874,2018
Norway,2,7.594,1.456,0.861,2018
Denmark,3,7.555,1.351,0.868,2018
Iceland,4,7.495,1.343,0.914,2018
Switzerland,5,7.487,1.420,0.927,2018

In [7]:
# Accessing the 2019 CSV and cleaning up the column names and index
df2019 = dfs[4]
df2019.head()
df2019 = df2019.drop(['Social support', 'Freedom to make life choices', 'Generosity','Perceptions of corruption'], axis=1)
df2019.rename(columns={"Country": "country","Overall rank": "happiness_rank", "Country or region": "country", "Score": "happiness_score", "GDP per capita" :"gdp_per_capita", "Healthy life expectancy": "health_life_expectancy"}, inplace=True)
df2019["year"] = '2019'
df2019.set_index('country', inplace=True)
df2019.head()

,happiness_rank,happiness_score,gdp_per_capita,health_life_expectancy,year
country,,,,,
Finland,1,7.769,1.340,0.986,2019
Denmark,2,7.600,1.383,0.996,2019
Norway,3,7.554,1.488,1.028,2019
Iceland,4,7.494,1.380,1.026,2019
Netherlands,5,7.488,1.396,0.999,2019

In [8]:
# Combining all years data into dataframe
combined_df = pd.concat([df2015,df2016,df2017, df2018, df2019],axis=0,sort=False)
combined_df1 = combined_df.copy()
combined_df1 = combined_df1.reset_index()
combined_df1

,country,happiness_rank,happiness_score,gdp_per_capita,health_life_expectancy,year
0,Switzerland,1,7.587,1.39651,0.94143,2015
1,Iceland,2,7.561,1.30232,0.94784,2015
2,Denmark,3,7.527,1.32548,0.87464,2015
3,Norway,4,7.522,1.45900,0.88521,2015
4,Canada,5,7.427,1.32629,0.90563,2015
...,...,...,...,...,...,...
777,Rwanda,152,3.334,0.35900,0.61400,2019
778,Tanzania,153,3.231,0.47600,0.49900,2019
779,Afghanistan,154,3.203,0.35000,0.36100,2019
780,Central African Republic,155,3.083,0.02600,0.10500,2019
781,South Sudan,156,2.853,0.30600,0.29500,2019

# Infant Mortality Data

In [10]:
# Reading the CSV and cleaning up the data
infant_df = pd.read_csv("Rate/InfantMortalityRate.csv", encoding= 'ISO-8859-1')
infant_df = infant_df.dropna()
infant_df1 = infant_df.copy()
infant_df1['Year'] = infant_df.Year.astype(int)
infant_df1 = infant_df1.rename(columns={"Country": "country","Infant Mortality Rate": "infant_mortality_rate", "Gender":"gender", "Year": "year"}, inplace=False)

# Creating a master list for all countries

In [11]:
# Getting list of countries from happiness dataframe
list_of_countries = combined_df.index.to_list()
list1 = set(list_of_countries)
list1

{'Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hong Kong S.A.R., China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Cyprus',
 'North Macedonia',
 'Northern Cyprus',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'Somaliland Region',
 'Somaliland region',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Taiwan Province of China',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad & Tobago',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [12]:
# Getting list of countries from mortality dataframe
list_of_country = infant_df["Country"]
list2 = set(list_of_country)
list2

{'Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Australia and New Zealand',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Central Asia',
 'Central and Southern Asia',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "Côte d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Asia and Pacific',
 'Eastern Asia',
 'Eastern Europe and Central Asia',
 'Eastern and South-Eastern Asia',
 'Eastern and Southern Africa',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Europe',
 'Europe and Central Asia',
 'Europe and Northern America',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Landlocked developing countries (LLDCs)',
 "Lao People's Democratic Republic",
 'Latin America & the Caribbean',
 'Latin America and Caribbean',
 'Latvia',
 'Least developed countries (LDCs)',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (Federated States of)',
 'Middle East and North Africa',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North America',
 'North Macedonia',
 'Northern Africa',
 'Northern Africa and Western Asia',
 'Norway',
 'Oceania',
 'Oceania excluding Australia and New Zealand',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Small Island Developing States (SIDS)',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Sudan',
 'South-Eastern Asia',
 'Southern Asia',
 'Spain',
 'Sri Lanka',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'West and Central Africa',
 'Western Asia',
 'Western Europe',
 'World',
 'World Bank (high income)',
 'World Bank (low income)',
 'World Bank (lower middle income)',
 'World Bank (upper middle income)',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'sub-Saharan Africa'}

In [13]:
# Creating a union of the two sets to create a unique list of countries
combinedlist = list1.union(list2)
len(combinedlist)

257

In [15]:
# Converting the master list into dataframe and setting up index as 'country_id' column
list_of_countries = pd.DataFrame(combinedlist,columns=['country'])
list_of_countries
list_of_countries.index.names = ['country_id']
list_of_countries.reset_index(inplace=True)

# Merging Data

In [17]:
# Merging happiness data with the master list of countries dataframe to get country_id column
happiness_df = pd.merge(combined_df1, list_of_countries, on='country', how="left")
# Drop country column from the dataframe
del happiness_df['country']
happiness_df

,happiness_rank,happiness_score,gdp_per_capita,health_life_expectancy,year,country_id
0,1,7.587,1.39651,0.94143,2015,75
1,2,7.561,1.30232,0.94784,2015,232
2,3,7.527,1.32548,0.87464,2015,70
3,4,7.522,1.45900,0.88521,2015,43
4,5,7.427,1.32629,0.90563,2015,36
...,...,...,...,...,...,...
777,152,3.334,0.35900,0.61400,2019,161
778,153,3.231,0.47600,0.49900,2019,82
779,154,3.203,0.35000,0.36100,2019,247
780,155,3.083,0.02600,0.10500,2019,157
781,156,2.853,0.30600,0.29500,2019,205

In [18]:
# Merging happiness data with the master list of countries dataframe to get country_id column
mortality_df = pd.merge(infant_df1, list_of_countries, on='country', how='left')
mortality_df
# Drop country column from the dataframe
del mortality_df['country']
mortality_df

      infant_mortality_rate  gender  year  country_id
0                 43.050731  Female  2019         247
1                 44.851045  Female  2019         112
2                  7.659442  Female  2019         248
3                  2.555451  Female  2019          81
4                  5.716825  Female  2019         144
...                     ...     ...   ...         ...
7618              16.894304   Total  2009         118
7619              44.940469   Total  2009         150
7620              36.460146   Total  2009         136
7621              54.130195   Total  2009          93
7622              55.866004   Total  2009          69

[7623 rows x 4 columns]

# Setting up tables in Postgres

In [48]:
# Setting up connection 
connection_string = "sanskrutisharma:sanskrutisharma@localhost:5432/ETL"
engine = create_engine(f'postgresql://{connection_string}')

In [49]:
# Getting the name of the tables
engine.table_names()

['list_of_countries', 'mortality', 'happiness']

In [42]:
# Adding list of countries dataframe into SQL table
list_of_countries.to_sql(name='list_of_countries', con=engine, if_exists='append', index=False)

In [43]:
# Adding mortality dataframe into SQL table
mortality_df.to_sql(name='mortality', con=engine, if_exists='append', index=False)

In [44]:
# Adding happiness dataframe into SQL table
happiness_df.to_sql(name='happiness', con=engine, if_exists='append', index=False)

# Accessing data from SQL tables

In [45]:
# Reading the first table - list_of_countries
pd.read_sql_query('select * from list_of_countries', con=engine).head()

   country_id               country
0           0            Uzbekistan
1           1               Belarus
2           2                 Niger
3           3        Western Europe
4           4  Syrian Arab Republic

In [46]:
# Reading the second table - mortality
pd.read_sql_query('select * from mortality', con=engine).head()

   infant_mortality_rate  gender  year  country_id
0                     43  Female  2019         247
1                     45  Female  2019         112
2                      8  Female  2019         248
3                      3  Female  2019          81
4                      6  Female  2019         144

In [47]:
# Reading the third table - happiness
pd.read_sql_query('select * from happiness', con=engine).head()

,happiness_rank,happiness_score,gdp_per_capita,health_life_expectancy,year,country_id
0,1,8,1,1,2015,75
1,2,8,1,1,2015,232
2,3,8,1,1,2015,70
3,4,8,1,1,2015,43
4,5,7,1,1,2015,36